.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

th {
  text-align: left;
  padding: 5px;
  background-color: #f60;
  color: white;
}

tr:nth-child(even) {
  background-color: #f6f6ef;
}

.fa {
  color: gray;
  font-size: 18px;
}
.fa:active {
  color: #f60;
}

a {
  color: gray;
}

.title:hover {
  color: #f60;
  cursor: pointer;
}
hr {
  border: 2px solid #f60;
}

.upVotes,
.vote,
.comments {
  text-align: center;
}
.title {
  text-align: center;
  font-size: 16px;
}
td {
  padding: 8px;
}
.load-more {
  padding: 20px;
  text-align: right;
}
.a1 {
  color: #f60;
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
}
